
div{
    width: 50px;
    height: :50px;
}
.box1{
    background-color: blue;
}

.box2{
    background-color: red;
    position: absolute;
    top:100px;
    left:100px;
    
}

.box3{
    background-color: aqua;
}